{:duct.handler/sql           [:duct/handler]
 :duct.handler.sql/query     [:duct.handler/sql]
 :duct.handler.sql/query-one [:duct.handler/sql]
 :duct.handler.sql/insert    [:duct.handler/sql]
 :duct.handler.sql/execute   [:duct.handler/sql]}
